<div class="layui-row">
    <div class="layui-col-xs2">
        <div class="grid-demo grid-demo-bg1">6/12</div>
    </div>
    <div class="layui-col-xs2">
        <div class="grid-demo">6/12</div>
    </div>
    <div class="layui-col-xs2">
        <div class="grid-demo grid-demo-bg1">6/12</div>
    </div>
    <div class="layui-col-xs2">
        <div class="grid-demo">6/12</div>
    </div>
    <div class="layui-col-xs2">
        <div class="grid-demo grid-demo-bg1">6/12</div>
    </div>
    <div class="layui-col-xs2">
        <div class="grid-demo">6/12</div>
    </div>
</div>