<!DOCTYPE html>
<html lang="en">
<form class="layui-form change-password-form" style="width: 90%;padding: 10px 10px">
	<div class="layui-form-item">
		<label class="layui-form-label">旧密码</label>
		<div class="layui-input-block">
			<input type="password" name="oldPassword" autocomplete="off" class="layui-input">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">新密码</label>
		<div class="layui-input-block">
			<input type="password" name="newPassword" autocomplete="off" class="layui-input">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">确认新密码</label>
		<div class="layui-input-block">
			<input type="password" name="confirmPassword" autocomplete="off" class="layui-input">
		</div>
	</div>
	
	<div class="layui-form-item">
		<div class="layui-input-block" style="text-align: right;">
			<button class="layui-btn" type="button" onclick="doChangePassword()">修改</button>
		</div>
	</div>
</form>
</html>