<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="js">
	<script th:src="@{/static/layui/layui.all.js}"></script>
	<script th:src="@{/static/jquery/jquery.min.js}"></script>
	
	<script th:src="@{/static/assets/js/medicalInformation.js}"></script>
	<script th:src="@{/static/assets/js/medicalRecord.js}"></script>
	<script th:src="@{/static/assets/js/family_member.js}"></script>
	<script th:src="@{/static/assets/js/authorise_member.js}"></script>
	<script th:src="@{/static/assets/js/question.js}"></script>
</div>
</html>