<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title th:title="${projectName}"></title>
	<link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
	<link rel="stylesheet" th:href="@{/static/css/login.css}">
</head>

<body>
<div class="login-header common-width">
	<div class="common-width">
		<img th:src="@{/static/image/project_logo.png}" />
	</div>
</div>

<div class="login-content common-width">
	<div class="common-width"></div>
</div>

<div class="login-footer common-width">
	<div class="common-width">
		<div class="login-footer-name-container">
			<div class="login-footer-name">主办单位：重庆市卫生健康委员会</div>
			<div class="login-footer-name">技术支持单位：重庆亚德科技股份有限公司</div>
		</div>
	</div>
</div>
</body>
</html>