<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title></title>

</head>

<body>
<form class="layui-form" action="">
	<input type="hidden" class="identity-input" th:value="${identity}" />
	
	<div class="layui-form-item">
		<input type="password" name="title" class="layui-input newPassword-input" lay-verify="title" autocomplete="off" placeholder="请输入密码">
	</div>
	<div class="layui-form-item">
		<input type="password" name="title" lay-verify="title" class="layui-input confirmPassword-input" autocomplete="off" placeholder="请再次输入密码">
	</div>
	<div class="layui-form-item">
		<div class="layui-form-mid layui-word-aux">注意：不设置查询密码，则无法访问本系统！</div>
		<div class="layui-input-block">
			<button class="layui-btn" type="reset">重置</button>
			<button type="button" class="layui-btn layui-btn-primary" onclick="submitChangePassword()">提交</button>
		</div>
	</div>
</form>
</body>

<div th:include="footer::js"></div>
<script th:src="@{/static/custom/js/must_change_password.js}"></script>
</html>